
body{
	height: 100%;
	background-color:rgb(245, 245, 245);
}



#header {
    background: url('../img/navi-bg.png') repeat-x;
    padding-top: 30px;
    height: 140px;
    min-width: 480px;
    display: block;
}

.main-menu {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: "DINWeb", Arial, sans-serif;
}
.main-nav {
    float: left;
    list-style-type: none;
    color: #999999;
    margin-left: 200px;
    margin-top: 9px;
}

.logo{
	float:left;
}

a:hover, a:focus {
    color: #73c20e;
}
    
.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-nav li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.main-nav li a {
    display: block;
    padding: 10px;  
    color: #999999;
}

li.selected {
 background-color:#666666;
}

.nav-tabs-track {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs-track li.item-content {
    width: 25%;
    padding: 0;
    margin: 0;
    font-size: 15px;
    border-left: 1px solid #eeeeee;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.text-green {
    color: #73c20e !important;
    font-family: "DINWeb-Medium", Arial, sans-serif;
    
}
/* .tab-img-bg {
    width: 48px;
    height: 48px;
    background-position: center top;
} */

.mainBanner{
	position: relative;
	margin-top:25px;
	/* background-image: url('../img/main-banner.png');  */
	height: 400px;
    width: 100%;
	background-position: center center;
	background-size: cover;
}

.tilesSection{
	position: relative;
	margin-top: 50px;
	
}
.tileLeft{
	background-color: white;
	height: 540px;
}
.tileRight{
	background-color: white;
	height: 540px;
}
#footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
	height: 300px;
    background-color: #333333;
    margin-top: 40px;
    padding-top: 20px;
}
#footer a{
    color: white;
}

.bannerTitle{
	margin-top:100px;
	margin-left:20px;
    background-color: #73C20E;
    height: 80px;
    width: 300px;  
    position: relative;
}
.bannerTitle span{
	font-size: 50px; 
	color: white;
	padding-top: 60px; 
}

#bannerDes{
	margin-top: 20px;
	margin-left: 10px;
}
#bannerCta{
	margin-top: 15px;
}

#tile-left-img img {
    position: absolute;
    margin-top: 20%;
    height: 380px;
    width: 350px;
}
#tile-left-desc{
    margin-top: 20%;
}
#tile-right-img{
	margin-top: 20%;
}

.model-name{
	font-weight: bold;
	font-size: x-large;
}
#left-desc{
	background-color: #e8f9d1;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
}
.price{
	font-size: xx-large;
}
#tile-right-desc .product-name{
	margin-bottom: 15px;
}

#outer-login{
	padding:10% 30%;	
}